
.cl{
    margin-top:-30vh ;
   z-index: -1;
  letter-spacing: 0.9px;
   

    
}

.cl2{
    margin-top:-97vh ;
   z-index: -1;

    
}
.text-2{
  
  height: 4.8rem;
  display: flex;
  fontWeight: 800;
  justifyContent: center;

}
@media screen and (max-width: 410px) {
.lamps{
  margin-top:150px;
  width:150%;
}
  
.text-2{
  
    height: 1.97rem;
    display: flex;
    fontWeight: 700;
    justifyContent: center;
  
}

}