html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: "DM Sans", sans-serif;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

.section1 {
  scroll-behavior: smooth;
  scroll-snap-type: none;
}

.section-project {

  height: 6310.3px; /* Use vh here */
  scroll-behavior: smooth;
  scroll-snap-type: none;
}



body {
  background-color: #000000;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  display: none;
}




@media only screen and  (max-width: 500px) {

  /* Mobile styles */
  .section-project {
   padding-left:80px;
 width:150%;
    height: 9400.3px; /* Ensure this is applied */
    scroll-behavior: smooth;
    scroll-snap-type: none;
 
  }
  #CONTACT{
    width:150%;
    height:125vh;
  }

  #parallax{

    scroll-behavior: smooth;
    scroll-snap-type: none;
  }
  }
