
html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: "DM Sans",sans serif;
}

section{
    height: 100vh;
    scroll-snap-align: center;
   

}
.section1{
     scroll-behavior: smooth;
  scroll-snap-type: none;
}
.section-project{
    height: 930vh;
    scroll-behavior: smooth;
  scroll-snap-type: none;
}
body{
    background-color:#000000;
   
}

a{
    text-decoration: none;
    color: inherit;
}

.cc{
    height: 100vh;
    display: flex;
padding-left: 800px;
    align-items: center;
    align-content: center;

}
.c{
    background-color: rgb(11, 141, 255);
    width: 50px;
    height: 100px;
    align-items: center;
    justify-content: center;
    transform: rotateZ('34');
   
}
